.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.container-urlList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 0.3rem;
}

.container-videochat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.container-videos {
  display: flex;
}

#hangup {
  height: 25px;
  width: 6rem;
  background-color: crimson;
  color: white;
  box-shadow: 0 0 0 2px white, 0 0 0 4px crimson;
}

button {
  height: 30px;
  width: 20rem;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

img {
  height: 0.7rem;
  width: 0.7rem;
  padding: 0.3rem;
}

.hidden {
  display: none;
}

.faded {
  opacity: 0.5;
}
